h1{ 
    color: #111; font-family: 'Handjet', cursive, sans-serif; font-size: 64px; font-weight: 700; 
    line-height: 64px; margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase; 
}

h2{
    color: #111; font-family: 'Handjet', cursive, sans-serif; font-size: 48px; font-weight: 700; 
    line-height: 64px; margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase; 
}

*{
    background-color: #F0E68C;
}

p{
    margin: 0;
    padding: 0;
}

#all-result{
    display: flex;
    justify-content: center;
    column-gap: 100px; 
    
}

.result{
    border-style: solid;
    border-color: #111;
    border-width: 2px;
    border-radius: 16px;
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.points{
    font-family: 'Handjet', cursive;
    font-size: 50px;
}

#all-moves{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.moves{
    font-family: 'Handjet', cursive;
    font-size: 50px;
    background-color: #FFC72C;
}

.btn{
    border-style: solid;
    border-color: #111;
    border-width: 2px;
    border-radius: 16px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC72C;
}

#string-div{
    display: flex;
    justify-content: center;
}